In [6]:
import sqlite3
import pandas as pd
from Python_to_SQL import pd_to_sqlDB, sql_query_to_pd

In [7]:
# Read a csv file into a DataFrame
input_df =  pd.read_csv('housing.csv')

In [8]:
# Upload the dataframe to a SQL Table
pd_to_sqlDB(input_df,
            table_name='housing2',
            db_name='default.db')

2023-08-25 08:16:47 INFO: SQL DB default.db created

OperationalError: table housing already exists

In [ ]:
# Write the SQL query in a string variable
sql_query_string = """
    SELECT *
    FROM 
    WHERE
"""

In [ ]:
# Execute the SQL query
result_df = sql_query_to_pd(sql_query_string, db_name='default.db')

In [ ]:
# View results
result_df.head()